<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>foodXpert</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

  <style>
    body {
      position: relative;
      /* Make sure the body is relative so that the overlay layers are positioned correctly */
      margin: 0;
      padding: 0;
      font-family: 'Poppins', sans-serif;
      height: 100vh;
      overflow: hidden;
    }

    .background-darken {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('https://img.freepik.com/premium-photo/dark-flat-lay-culinary-background-with-fresh-produce-view-from_510507-30.jpg?w=740');
      /* Replace with your image URL */
      background-size: cover;
      background-position: center;
      z-index: -3;
    }

    .background-darken::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      /* Darkens the background */
      z-index: -2;
    }

    .glass-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.2);
      /* Semi-transparent background */
      backdrop-filter: blur(5px);
      /* Glass effect */
      -webkit-backdrop-filter: blur(10px);
      /* Safari support */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: -1;
    }


    .base {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;
    }

    .header {
      background-color: #ffffff;
      width: 100%;
      z-index: 1000;
      height: auto;
    }

    .middle-section {
      display: flex;
      flex-direction: row;
      flex: 1 1 auto;
      /* Grow to fill available space */
      height: 90vh;
      overflow: hidden;
      /* Prevent the entire middle section from scrolling */
    }

    .content-section {
      flex: 1;
      /* Let the content section grow to fill remaining space */
      overflow-y: auto;
      /* Enable vertical scrolling within content section */
      padding: 10px;
      /* Optional: Add padding to the content section */
      max-height: 100%;
      /* Ensure it doesn't exceed the available height */
    }

    .navbar {
      /* Enable scrolling in navbar if content overflows */
      transition: flex 0.3s ease;
      /* Smooth transition for resize */
      height: 100%;
    }

    .microservice-space {
      /* overflow-y: auto; */
      height: 100%;
    }
  </style>

  <!--
    Remove this if you only support browsers that support async/await.
    This is needed by babel to share largeish helper code for compiling async/await in older
    browsers. More information at https://github.com/single-spa/create-single-spa/issues/112
  -->
  <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>

  <!--
    This CSP allows any SSL-enabled host and for arbitrary eval(), but you should limit these directives further to increase your app's security.
    Learn more about CSP policies at https://content-security-policy.com/#directive
  -->
  <meta http-equiv="Content-Security-Policy"
    content="default-src 'self' https: localhost:*; script-src 'unsafe-inline' 'unsafe-eval' https: localhost:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';">
  <meta name="importmap-type" content="systemjs-importmap" />
  <!-- If you wish to turn off import-map-overrides for specific environments (prod), uncomment the line below -->
  <!-- More info at https://github.com/joeldenning/import-map-overrides/blob/master/docs/configuration.md#domain-list -->
  <!-- <meta name="import-map-overrides-domains" content="denylist:prod.example.com" /> -->

  <!-- Shared dependencies go into this import map. Your shared dependencies must be of one of the following formats:

    1. System.register (preferred when possible) - https://github.com/systemjs/systemjs/blob/master/docs/system-register.md
    2. UMD - https://github.com/umdjs/umd
    3. Global variable

    More information about shared dependencies can be found at https://single-spa.js.org/docs/recommended-setup#sharing-with-import-maps.
  -->
  <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js",
        "react": "https://cdn.jsdelivr.net/npm/react@17/umd/react.production.min.js",
        "react-dom": "https://cdn.jsdelivr.net/npm/react-dom@17/umd/react-dom.production.min.js",
        "react-router-dom": "https://cdn.jsdelivr.net/npm/react-router-dom@5.3.0/umd/react-router-dom.production.min.js"
      }
    }
  </script>
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js" as="script"
    crossorigin="anonymous">

  <!-- Add your organization's prod import map URL to this script's src  -->
  <!-- <script type="systemjs-importmap" src="/importmap.json"></script> -->

  <% if (isLocal) { %>
    <script type="systemjs-importmap">
    {
      "imports": {
        "@single-spa/welcome": "https://unpkg.com/single-spa-welcome/dist/single-spa-welcome.js",
        "@foodXpert/root-config": "//localhost:9000/foodXpert-root-config.js",
        "@foodXpert/foodXpert-header": "//localhost:9001/foodXpert-foodXpert-header.js",
        "@foodXpert/foodXpert-home": "//localhost:9005/foodXpert-foodXpert-home.js",
        "@foodXpert/foodXpert-navbar": "//localhost:9003/foodXpert-foodXpert-navbar.js",
        "@foodXpert/foodXpert-products": "//localhost:9004/foodXpert-foodXpert-products.js",
        "@foodXpert/foodXpert-cart": "//localhost:9006/foodXpert-foodXpert-cart.js"
      }
    }
  </script>
    <% } %>

      <!--
    If you need to support Angular applications, uncomment the script tag below to ensure only one instance of ZoneJS is loaded
    Learn more about why at https://single-spa.js.org/docs/ecosystem-angular/#zonejs
  -->
      <!-- <script src="https://cdn.jsdelivr.net/npm/zone.js@0.11.3/dist/zone.min.js"></script> -->

      <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
      <% if (isLocal) { %>
        <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
        <% } else { %>
          <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
          <% } %>

</head>

<body>
  <div class="background-darken"></div>
  <div class="glass-overlay"></div>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <script>
    System.import('@foodXpert/root-config');
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>

</html>