.carousel-container {
    display: flex;
    max-width: 1000px;
    border: 1px solid red;
    /* Ensure the container takes the full width of the parent */
    overflow: hidden;
    /* Prevent overflow */
}

.ant-carousel {
    width: 100%;
    /* Ensure the carousel takes the full width of the container */
}