.search-bar {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.product-image {
  height: 150px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image .image {
  width: 150px;
  height: auto;
  object-fit: cover;
}

.custom-search .ant-input-search-button {
  background-color: #3F4E4F;
  color: white;
  border: none;
}

.custom-search .ant-input-search-button:hover {
  background-color: #2C3639;
}

.categories{
  margin-bottom: 20px;
}

.category-text {
  font-size: 12px;
}

.category-item {
  background-color: white;
  border-radius: 10px;
}