.search-bar {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.product-image .image {
  width: 150px; /* Adjust the size as needed */
  height: 150px; /* Adjust the size as needed */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image covers the entire circle */
}

.product-image .image {
  width: 150px;
  height: auto;
  object-fit: cover;
}

.custom-search .ant-input-search-button {
  background-color: #3F4E4F;
  color: white;
  border: none;
}

.custom-search .ant-input-search-button:hover {
  background-color: #2C3639;
}

.categories{
  margin-bottom: 20px;
}

.category-text {
  font-size: 12px;
}

.category-item {
  background-color: white;
  border-radius: 10px;
}

.ant-spin-dot-item {
  background-color: red;
}