.header-bar {
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    /* border: 1px solid red; */
    background-color: #2C3639 ;

}

.welcome-text{
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}
